# cSpell:disable
PROJECT_NAME=IrenesBot

# [TWITCH]
# IrenesBot application at @Irene developer console
TWITCH_CLIENT_ID=client_id
TWITCH_CLIENT_SECRET=secret

# [POSTGRES]
POSTGRES_VPS=postgres://YourUserName:YourPassword@YourHostname:5432/YourDatabaseName
POSTGRES_HOME=postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]

# [STEAM FRIEND]
STEAM_FRIEND_IRENE_ID64=76543210123456789
STEAM_FRIEND_IRENE_ID32=124567890

# [STEAM.IRENESTEST]
STEAM_IRENESTEST_USERNAME=username
STEAM_IRENESTEST_PASSWORD=password

# [STEAM.IRENESBOT]
STEAM_IRENESBOT_USERNAME=username
STEAM_IRENESBOT_PASSWORD=password

# [TOKENS]
STRATZ_BEARER=why_the_hell_stratz_bearer_token_is_9999_symbols_it_s_kinda_annoying
STEAM_API_KEY=abc
SPOTIFY_AIDENWALLIS=abc
# Randomly chosen by me eventsub_secret, i.e. used by Twitch CLI
EVENTSUB=123 
SEVEN_TV_BEARER=Bearer xdd_why_the_hell_all_bearer_tokens_are_so_long_it_s_kinda_annoying

# [WEBHOOKS]
# 🐬ire_logs
WEBHOOK_LOGGER=https://discord.com/api/webhooks/123/abcdf
# 🐟ire_spam
WEBHOOK_ERROR=https://discord.com/api/webhooks/123/abcdf
#👑stream_notifs
WEBHOOK_STREAM_NOTIFS=https://discord.com/api/webhooks/123/abcdf
#🔎lala-watch
WEBHOOK_HEARTBEAT=https://discord.com/api/webhooks/123/abcdf

# [SSH]
SSH_PRIVATE_KEY=C:/Users/username/.ssh/private-key.key
SSH_HOST=99.99.99.99
SSH_USERNAME=ssh_username
SSH_PORT=22

# [NGROK]
NGROK_AUTH_TOKEN=ngrok_auth_token