# cSpell:disable
PROJECT_NAME="IrenesBot"

# [TWITCH]
# IrenesBot application at @Irene developer console
TWITCH_CLIENT_ID = ""
TWITCH_CLIENT_SECRET = ""

# [POSTGRES]
POSTGRES_VPS="postgres://YourUserName:YourPassword@YourHostname:5432/YourDatabaseName"
POSTGRES_HOME="postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]"

# [STEAM FRIEND]
STEAM_FRIEND_IRENE_ID64 = 0
STEAM_FRIEND_IRENE_ID32 = 0

# [STEAM.IRENESTEST]
STEAM_IRENESTEST_USERNAME = ""
STEAM_IRENESTEST_PASSWORD = ""

# [STEAM.IRENESBOT]
STEAM_IRENESBOT_USERNAME = ""
STEAM_IRENESBOT_PASSWORD = ""

# [TOKENS]
STRATZ_BEARER = "why_the_hell_stratz_bearer_token_is_9999_symbols_it_s_kinda_annoying"
STEAM_API_KEY = ""
SPOTIFY_AIDENWALLIS = ""
EVENTSUB = "123" # Randomly chosen by me eventsub_secret, i.e. used by Twitch CLI

# [WEBHOOKS]
# 🐬ire_logs
WEBHOOK_LOGGER = "https://discord.com/api/webhooks/123/abc"
# 🐟ire_spam
WEBHOOK_ERROR = "https://discord.com/api/webhooks/123/abc"
#👑stream_notifs
WEBHOOK_STREAM_NOTIFS = "https://discord.com/api/webhooks/123/abc"