; sudo nano /etc/systemd/system/irebot.service
; sudo systemctl daemon-reload
; sudo systemctl enable irebot
; sudo systemctl start irebot
; sudo systemctl restart irebot
; sudo systemctl stop irebot
; sudo journalctl -u irebot -e

[Unit]
Description=irebot
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/IrenesBot/
ExecStart=/home/ubuntu/.local/bin/uv run src/main.py
; ExecStart=/home/ubuntu/IrenesBot/.venv/bin/python3.14 src/main.py
User=ubuntu
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target